@charset "utf8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right,#00747C, #00BBC9);
    
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #00545a8a;
}
h1 {
    color: #00747C;
    text-align: center;
    text-shadow: 1px 1px 1px #00747c6c;
}
h2 {
    color: #878787;
}
p {
    text-align: justify;
}